In [4]:
import pandas as pd


# Pandas find the table and writes it as new DataFrame
tables = pd.read_html("http://apps.sandiego.gov/sdfiredispatch/")

print(tables[0])

                       0          1                   2                     3  \
0              Call Date  Call Type              Street         Cross Streets
1   9/29/2017 5:41:14 AM    Medical           S 37TH ST      ALLEY/HEMLOCK ST
2   9/29/2017 5:41:14 AM    Medical           S 37TH ST      ALLEY/HEMLOCK ST
3   9/29/2017 5:31:57 AM    Medical             15TH ST   COMMERCIAL ST/ALLEY
4   9/29/2017 5:31:57 AM    Medical             15TH ST   COMMERCIAL ST/ALLEY
5   9/29/2017 5:12:01 AM    Medical      WEST JEWETT ST  EAST JEWETT ST/ALLEY
6   9/29/2017 5:12:01 AM    Medical      WEST JEWETT ST  EAST JEWETT ST/ALLEY
7   9/29/2017 4:53:12 AM    Medical  SANTA MARGARITA ST       54TH ST/55TH ST
8   9/29/2017 4:53:12 AM    Medical  SANTA MARGARITA ST       54TH ST/55TH ST
9   9/29/2017 4:48:20 AM    Medical      PADUA HILLS PL   PRIVATE RD/Dead End
10  9/29/2017 4:48:20 AM    Medical      PADUA HILLS PL   PRIVATE RD/Dead End

       4
0   Unit
1    E19
2    M28
3     E7
4    M11
5    E23
6    M20
7    E12
8    M12
9    E29
10   M29

In [6]:
# Parse the DataFrame and set row 0 as a head
# Additionally we convert text-based Call Date into time object
calls_df, = pd.read_html("http://apps.sandiego.gov/sdfiredispatch/", header = 0, parse_dates=["Call Date"])

print(calls_df)

            Call Date Call Type              Street         Cross Streets Unit
0 2017-09-29 05:41:14   Medical           S 37TH ST      ALLEY/HEMLOCK ST  E19
1 2017-09-29 05:41:14   Medical           S 37TH ST      ALLEY/HEMLOCK ST  M28
2 2017-09-29 05:31:57   Medical             15TH ST   COMMERCIAL ST/ALLEY   E7
3 2017-09-29 05:31:57   Medical             15TH ST   COMMERCIAL ST/ALLEY  M11
4 2017-09-29 05:12:01   Medical      WEST JEWETT ST  EAST JEWETT ST/ALLEY  E23
5 2017-09-29 05:12:01   Medical      WEST JEWETT ST  EAST JEWETT ST/ALLEY  M20
6 2017-09-29 04:53:12   Medical  SANTA MARGARITA ST       54TH ST/55TH ST  E12
7 2017-09-29 04:53:12   Medical  SANTA MARGARITA ST       54TH ST/55TH ST  M12
8 2017-09-29 04:48:20   Medical      PADUA HILLS PL   PRIVATE RD/Dead End  E29
9 2017-09-29 04:48:20   Medical      PADUA HILLS PL   PRIVATE RD/Dead End  M29

## Convert data to JSON

In [9]:
# So we have our call_df
print(calls_df.to_json(orient="records", date_format="iso"))

[{"Call Date":"2017-09-29T05:41:14.000Z","Call Type":"Medical","Street":"S 37TH ST","Cross Streets":"ALLEY\/HEMLOCK ST","Unit":"E19"},{"Call Date":"2017-09-29T05:41:14.000Z","Call Type":"Medical","Street":"S 37TH ST","Cross Streets":"ALLEY\/HEMLOCK ST","Unit":"M28"},{"Call Date":"2017-09-29T05:31:57.000Z","Call Type":"Medical","Street":"15TH ST","Cross Streets":"COMMERCIAL ST\/ALLEY","Unit":"E7"},{"Call Date":"2017-09-29T05:31:57.000Z","Call Type":"Medical","Street":"15TH ST","Cross Streets":"COMMERCIAL ST\/ALLEY","Unit":"M11"},{"Call Date":"2017-09-29T05:12:01.000Z","Call Type":"Medical","Street":"WEST JEWETT ST","Cross Streets":"EAST JEWETT ST\/ALLEY","Unit":"E23"},{"Call Date":"2017-09-29T05:12:01.000Z","Call Type":"Medical","Street":"WEST JEWETT ST","Cross Streets":"EAST JEWETT ST\/ALLEY","Unit":"M20"},{"Call Date":"2017-09-29T04:53:12.000Z","Call Type":"Medical","Street":"SANTA MARGARITA ST","Cross Streets":"54TH ST\/55TH ST","Unit":"E12"},{"Call Date":"2017-09-29T04:53:12.000Z","Call Type":"Medical","Street":"SANTA MARGARITA ST","Cross Streets":"54TH ST\/55TH ST","Unit":"M12"},{"Call Date":"2017-09-29T04:48:20.000Z","Call Type":"Medical","Street":"PADUA HILLS PL","Cross Streets":"PRIVATE RD\/Dead End","Unit":"E29"},{"Call Date":"2017-09-29T04:48:20.000Z","Call Type":"Medical","Street":"PADUA HILLS PL","Cross Streets":"PRIVATE RD\/Dead End","Unit":"M29"}]

## Convert to CSV / XLS

In [12]:
# Save our calls to CSV
calls_df.to_csv("calls.csv", index=False)


# Save our calls to XLS
calls_df.to_excel("calls.xls", index=False)

## Play more with Pandas

In [13]:
calls_df.describe()

                  Call Date Call Type          Street     Cross Streets Unit
count                    10        10              10                10   10
unique                    5         1               5                 5   10
top     2017-09-29 05:31:57   Medical  WEST JEWETT ST  ALLEY/HEMLOCK ST  M11
freq                      2        10               2                 2    1
first   2017-09-29 04:48:20       NaN             NaN               NaN  NaN
last    2017-09-29 05:41:14       NaN             NaN               NaN  NaN

In [16]:
calls_df.groupby("Call Type").count()

           Call Date  Street  Cross Streets  Unit
Call Type
Medical           10      10             10    10

In [17]:
calls_df["Unit"].unique()

array(['E19', 'M28', 'E7', 'M11', 'E23', 'M20', 'E12', 'M12', 'E29', 'M29'], dtype=object)